/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	max-width: 250px;
	margin: 0;
}

.profil{
	background-color: #31363b;
	box-shadow: 5px 5px 5px grey;
}

.profil .hlavicka{
	position: relative;
}

.profil .hlavicka .logo{
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	left: 180px;
	top: 150px;
}

.foto {
	max-width: 250px;
}

.obsah{
	color:#bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 10px 30px 0 	30px;
	margin: 0;
	border-bottom-color: #3f464d;
	border-bottom-style: solid;
}

.obsah h1{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

ul li{
	display: inline-block;
}

.odkazy{
	padding: 0;
	margin: 0;
}

.odkazy li{
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	list-style: none;
	font-weight: bold;
}

.odkazy a{
	font-family: 'Montserrat', sans-serif;
	font-size:0.75em;	
	text-decoration: none;
	text-align: center;
	color: #bdc3c7;
	padding: 10px 0;
}
.portfolio {
	display: block;
	border-bottom-color: #3f464d;
	border-bottom-style: solid;
}

.facebook {
	display:inline-block;
	width: 50%;
}

.twitter {
	display:inline-block;
	width: 50%;
	border-left-color: #3f464d;
	border-left-style: solid;
	float: right;
}

.portfolio a:hover, a:focus{
	background-color:#e74c3c;
	color: white;
}

.facebook a:hover, a:focus{
	background-color:#3b5998;
	color: white;
}

.twitter a:hover, a:focus{
	background-color: #1da1f2;
	color: white;
}